@use "../mixin" as *;

.footer {
	background-image: url(/assets/img/footer.webp);
	color: $white;
	padding-top: 40px;
	background-position: center;
	@include sm {
		background-position: 50% 0%;
	}

	nav {
		margin-bottom: 40px;
		font-size: 20px;
		font-weight: bold;
		line-height: 2;
		a {
			color: $white;
			text-decoration: none;
		}
		@include sm {
			margin-bottom: 0;
			font-size: 16px;
		}
	}

	&__img {
		text-align: right;
		margin-top: -80px;
		@include sm {
			width: 200px;
			margin-top: 0;
			margin-left: auto;
		}
	}

	&__bar {
		background-color: rgba(255,255,255,0.3);
		padding: 15px 0;
	}

	&__barbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		@include sm {
			flex-wrap: wrap;
			gap: 10px;
		}
	}

	h2 {
		font-size: 20px;
		font-weight: bold;
		@include sm {
			width: 100%;
			font-size: 16px;
		}
	}

	&__tel {
		flex: none;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		@include sm {
			text-align: left;
			font-size: 16px;
		}
		a {
			text-decoration: none;
			color: $white;
		}

		p {
			font-size: 16px;
			font-weight: normal;
			@include sm {
				font-size: 14px;
			}
		}
	}

	&__btn {
		width: 230px;
		font-size: 20px;
		font-weight: bold;
		@include md {
			width: 200px;
		}
		@include sm {
			width: 140px;
			font-size: 16px;
		}
	}
}
