@use "../mixin" as *;

.toptext {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 100px;
  @include sm {
    padding-bottom: 80px;
  }

  &__left {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: calc(50vw - 650px);
    width: 280px;
    @include md {
      left: 0;
      width: 200px;
    }
    @include sm {
      left: 10px;
      width: 140px;
    }
  }

  p {
    padding: 40px;
    background-image: url(./img/common/top_textbg1.svg);
    @include sm {
      padding: 20px 0;
    }
  }

  &__right {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: calc(50vw - 650px);
    width: 280px;
    @include md {
      right: 0;
      width: 200px;
    }
    @include sm {
      right: 10px;
      width: 140px;
    }
  }
}
